:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  background-color: #CE2829;
  padding: 20px 0;
  color: #FAF7F2;
  width: 100%;
}

.pizza-price{
  font-size: xx-large;
  font-weight: bolder;
}

.pizza-price-rating{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.rating-count{
  margin-left: 1rem;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.site-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.breadcrumb {
  font-size: 14px;
}

.breadcrumb a {
  color: #FAF7F2;
  text-decoration: none;
  margin-right: 5px;
}

.breadcrumb span {
  color: #FAF7F2;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.quantities {
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.quantity {
  background-color: #FDC913; 
  color: #292929;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  min-width: 40px;
  min-height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.adet {
  background-color: #FAF7F2;
  color: #292929;
  font-size: 18px;
  border: none;
  text-align: center;
  min-width: 38px;
  min-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #5F5F5F ;
  border-top: 1px solid #5F5F5F;
}


.extras {
  margin: 20px 0;
}

.extras h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.extras p {
  margin-bottom: 15px;
  font-size: 14px;
  color: #292929;
}

.extras-checkboxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 20px;
}

.extras-checkboxes label {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.extras-checkboxes input[type="checkbox"] {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.extras-checkboxes input[type="checkbox"]:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.mats {
  display: flex;
  flex-direction: row;
}

.form {
  margin: auto;
}

.body {
  max-width: 40%;
  min-width: 35%;
  margin: auto;
}


.orderNote {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.orderNote h3 {
  display: block;
}

.orderNote textarea {
  width: 100%;
  padding: 1rem; 
  font-size: 16px; 
  border: 1px solid #5F5F5F;
  border-radius: 4px;
  box-sizing: border-box;
}

.size {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid #5F5F5F;
  padding-top: 2rem;
}

.toplam {
  border: 1px solid #FAF7F2;
  border-radius: 8px;
  padding: 20px;
  width: 40%;
}

.toplam h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ücret {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.order {
  background-color: #FDC913;
  color: #292929;
  padding: 12px;
  text-align: center;
  border-radius: 0 0 8px 8px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border: none;
  width: 100%;
}

.order:disabled {
  background-color: gray;
  cursor: not-allowed;
}


@media (max-width: 750px) {

  .header {
    padding: 10px 0;
    text-align: center;
  }
  
  .body{
    max-width: 90%;
  }


  .container {
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
  }


  .site-title {
    font-size: 20px;
  }

  .breadcrumb {
    
    font-size: 12px;
    text-align: center;
  }

  .quantities {
    width: 100%;
    justify-content: center;
  }

  .quantity, .adet {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }

  .extras-checkboxes {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 10px;
  }

  .extras-checkboxes label {
    font-size: 14px;
  }


  .orderNote textarea {
    padding: 0.5rem;
    font-size: 14px;
  }


  .size {
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0;
  }

  .summary {
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
  }

  .toplam {
    max-width: 100%;
    padding: 10px;
  }

  .toplam h3 {
    font-size: 16px;
  }

  .ücret {
    font-size: 12px;
  }

  .order {
    padding: 10px;
    font-size: 14px;
  }
}
